<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WFAGoolgeSheet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.7.1.0" newVersion="6.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection1" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection1" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection1" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <WFAGoolgeSheet.Properties.Settings>
      <setting name="ProdSheet" serializeAs="String">
        <value>1w1z0EglBZlpe-tIIGAsHA9jhARBUtovhGEjJas8BM1M</value>
      </setting>
      <setting name="maxChg" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="perSec" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="FSsheetID" serializeAs="String">
        <value>1607324978</value>
      </setting>
      <setting name="INsheetID" serializeAs="String">
        <value>2145664999</value>
      </setting>
      <setting name="TestSheet" serializeAs="String">
        <value>19GUMT85eHJc0ksM1R-W06LjCMIUg4KNC1bzQneWJ6DU</value>
      </setting>
      <setting name="F1State" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="F1Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="F1Size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="gMapZoom" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="gMapSource" serializeAs="String">
        <value>BingMapProvider</value>
      </setting>
      <setting name="WebKey" serializeAs="String">
        <value>AvP6VJeoU5ewXQPPt8Q0ce0r_-B3SWb6Ix1Zt5Ece0CyjXSmr1MdorJWGQfJ9UfD</value>
      </setting>
      <setting name="WebURL" serializeAs="String">
        <value>http://dev.virtualearth.net/REST/v1/Locations?countryRegion=Ecuador&amp;adminDistrict=Quito&amp;locality=Guamani&amp;postalCode=-&amp;addressLine={addressLine}&amp;key=</value>
      </setting>
    </WFAGoolgeSheet.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>